:root {
  --primary-color: #3d3c41;
  /* --primary-color-text: #ffffff;

  --highlight-bg: #e0e7ff;
  --highlight-text-color: #1e40af;

  --surface-0: #ffffff;
  --surface-border: #e5e7eb;

  --text-color: #111827;
  --text-color-secondary: #6b7280; */
}

body::before {
  content: 'PrimeVue Custom Theme Active';
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);
  padding: 5px;
  z-index: 9999;
}
