:root {
  /*primary button */
  --p-button-primary-background: #ba2525;
  --p-button-primary-border-color: #ba2525;
  --p-button-primary-color: #ffff;
  --p-button-border-radius: 50px;

  /*primary button hover */
  --p-button-primary-hover-border-color: #ba2525;
  --p-button-primary-hover-background: #971d1d;
  --p-button-primary-hover-border-color: #971d1d;
  --p-button-primary-hover-color: #ffff;

  /* primary button active */
  --p-button-primary-active-background: #971d1d;
  --p-button-primary-active-border-color: #971d1d;
  --p-button-primary-active-color: #fff;

  /* form input */
  --p-inputtext-background: #00000000;

  /* form input focus */
  --p-floatlabel-focus-color: #ba2525;
  --p-inputtext-focus-border-color: #ba2525;

  /* form input active */
  --p-floatlabel-on-active-background: #353535;

  /* form input disabled */
  --p-inputtext-disabled-background: #00000000;

  /* datatable */
  --p-datatable-table-background: #00000000;
  --p-datatable-header-cell-background: #00000000;
  --p-datatable-header-cell-border-color: #5b5b5b;
  --p-datatable-header-cell-color: #d0d0d0;
  --p-datatable-header-cell-selected-background: #00000000;
  --p-datatable-header-cell-focus-ring-color: #00000000;
  --p-datatable-row-color: #d0d0d0;
  --p-datatable-row-background: #00000000;
  --p-datatable-body-cell-border-color: #5b5b5b;
  --p-datatable-body-cell-padding: 1.5rem;

  --p-button-text-primary-color: #5b5b5b;
  --p-button-text-primary-hover-background: #5151519f;
  --p-button-text-primary-active-background: #707070a7;

  /* Dialog */
  --p-dialog-background: #353535;
  --p-dialog-content-padding: 1.5rem;

  /* Select */
  --p-select-overlay-background: #353535;
  --p-select-focus-border-color: #353535;
  --p-select-background: #353535;
  --p-select-option-selected-background: #ba2525;
  --p-select-option-selected-focus-background: #ba2525;
}

/* .dark {
} */
